<!-- Le code suivant n'est pas appelé par le parcours utilisateur.-->
<!-- il est conservé dans la version MVP pour travailler avec en semaine 2.-->
<h1>StaticPages#index</h1>

<p>Lien vers l'index des carts : <%= link_to 'voir', carts_path %>
<p>Lien vers l'index des products : <%= link_to 'voir', products_path %>

