<section>
  <div data-aos="fade-down" id="storyparallax">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center" id="storytextcol">
          <div id="storycard">
            <h1 class="text-uppercase fw-bold" id="storytitle">origines</h1>
            <p id="storytext" class="my-3"><br><span>Né d'une famille napolitaine, j’ai le souvenir de mes grands-pères qui cultivaient les légumes, le tout préparé ensuite par mes grands-mères. C'est cette tradition que je vous transmets dans mes pizzas.</span><br><br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>