<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Commande n° <%= @order.pickup_code %> enregistrée !</h1>

    <p>PIZZA-YOLO vous remercie pour votre commande, <%= @order.user.firstname %> !</p>


    <p> À très vite sur PIZZA-YOLO !<br/><%= @url %></P>
  </body>
</html>