<%= render 'schedules/scheduling_feature' %>
<div class="container justify-content-center d-flex text-center py-5">
<%= link_to 'Annuler commande', order_path(@order.id), method: :delete, class: "btn btn-danger" %>
<% unless @search_status == "rejected" %>
  <p class="px-5"><strong>TOTAL À PAYER : <%= @total_to_pay %> €</strong></p>
  <%= link_to 'Payer ma commande', orders_path(total:@total_to_pay), method: :post, class: "btn btn-success", remote: true %><br/>
<% end %>
</div>