<h1>Schedules#create</h1>

<%= render 'schedules/scheduling_feature' %>

<%= link_to 'Annuler commande', order_path(@order.id), method: :delete, class: "btn btn-danger" %>
<% unless @search_status == "rejected" %>
  <p><strong>TOTAL À PAYER : <%= @total_to_pay %> €</strong></p>
  <%= link_to 'Payer ma commande', orders_path(total:@total_to_pay), method: :post, class: "btn btn-success", remote: true %><br/>
<% end %>
