<div class="container">
  <div class="row">
    <div class="col-md-12 pt-5">
    <div class="alert alert-success" role="alert">
  
      <h1 class="text-center">Ton paiement a été annulée.</h1>
      <%= link_to  "Retour panier", cart_path(current_user), class: "btn btn-success btn-lg me-5"%>
</div>
    </div>
  </div>

</div>
</div>