<section class="mt-5">
  <div class="container py-5">
    <div class="row mb-4 mb-lg-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <p class="fw-bold text-success mb-2">Résumé</p>
        <h2 class="fw-bold" id="welcometitle">Panier</h2>
      </div>
    </div>  

    <%= render "cartcontent" %>

  </div>
</section>