<p>Bonjour <%= @resource.email %>!</p>

<p>Un lien pour modifier votre mot de passe a été demandé. Vous retrouverez ce lien ci-dessous.</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez rien demandé, veuillez ignorer cet email.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas cliqué sur le lien ci-dessus et créé un nouveau.</p>
