<header class="pt-5">
  <div class="container pt-xl-5">
    <div class="row">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <div class="text-center">
          <p class="fw-bold text-success mb-2">Voted #1 Worldwide</p>
          <h1 class="fw-bold" id="mainherophrase">Votre Nouvelle Pizzeria Traditionnelle.</h1>
          <%= link_to "Commander", "#menurow", class:"btn btn-primary", role:"button", id:"herobtn"%> 
        </div>
      </div>
      <div class="col-12 col-lg-10 mx-auto">
        <div id="heropizzas" class="position-relative">
          <div id="pizzal"><%= image_tag "heropizza2.png", class:"img-fluid", data: {"bss-parallax":"0", "bss-parallax-speed":"0.25"}%></div>
          <%= image_tag "heropizza1.png", class:"img-fluid", id:"pizzar1", data: {"bss-parallax":"0", "bss-parallax-speed":"0.8"}%>
          <div id="pizzar2"><%= image_tag "heropizza3.png", class:"img-fluid", data: {"bss-parallax":"0", "bss-parallax-speed":"0.4"}%></div>
        </div>
      </div>
    </div>
  </div>
</header>
