<footer class="bg-primary-gradient">
  <div class="container py-4 py-lg-5">
    <hr>
    <div class="text-muted d-flex justify-content-between align-items-center pt-3">
      <p id="copyright" class="fw-bold mb-0">© Pizza-Yolo</p>
      <%= image_tag "logo_footer.png", id:"logofooter"%>
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <%= link_to "Github", "https://github.com/Ju777/repo-pizza-yolo", :target => "_blank" %>
        </li>
      </ul>
    </div>
  </div>
</footer>
    